<div class="invitacion-container">
    <h1>Aceptar invitaci칩n</h1>
    
    <form asp-controller="Plan" asp-action="Unirse" method="get">
    <div class="contenido">
        <div class="detalle-plan">
            <p><strong>Tipo de plan:</strong> Restaurante</p>
            <p><strong>Descripci칩n:</strong> Nos vamos a juntar en menor치. Traigan traje</p>
        </div>
        
        <div class="ubicacion">
            <label for="ubicacion">Elegir ubicaci칩n</label>
                <select name="direccion">
                @for(int i=0;i<ViewBag.Direcciones.Count;i++){
                    string texto=ViewBag.Direcciones[i].Nombre+" - "+ViewBag.Direcciones[i].Calle;
                    <option value="@ViewBag.Direcciones[i].IdDireccion">@texto</option>
                }
                </select>
        </div>
    </div>
    <input type="number" style="display: none" value="@ViewBag.idPlan" name="idPlan">
    <div class="botones">
        <input type="submit" class="aceptar" value="Aceptar">
        <button class="declinar">Declinar</button>
    </div>
    </form>
</div>
