<div class="invitacion-container">
    <h1>Aceptar invitación</h1>
    
    <div class="contenido">
        <div class="detalle-plan">
            <p><strong>Tipo de plan:</strong> Restaurante</p>
            <p><strong>Descripción:</strong> Nos vamos a juntar en menorá. Traigan traje</p>
        </div>
        
        <div class="ubicacion">
            <label for="ubicacion">Elegir ubicación</label>
            <input type="text" id="ubicacion" name="ubicacion" placeholder="Escribe aquí...">
        </div>
    </div>
    
    <div class="botones">
        <button class="aceptar">Aceptar</button>
        <button class="declinar">Declinar</button>
    </div>
</div>
