<section class="plan-details-section">
  <h2 class="plan-title">Detalles del plan</h2>
  
  <div class="plan-info-container">
    <!-- Información del plan -->
    <div class="plan-info">
      <p class="plan-info-item"><span class="info-label">Lugar:</span> Menorá House</p>
      <p class="plan-info-item"><span class="info-label">Hora:</span> 08:30 AM</p>
      <p class="plan-info-item"><span class="info-label">Descripción:</span> Nos vamos a juntar en menorá. Traigan traje</p>
      <p class="plan-info-item"><span class="info-label">Clima:</span> Nublado</p>
      <p class="plan-info-item"><span class="info-label">Temperatura:</span> 12.4°</p>
      <p class="plan-info-item"><span class="info-label">Participantes:</span></p>
       <!-- Participantes -->
  <div class="plan-participants">
    <div class="participant-item">
      <img src="/img/perfil.webp" alt="Foto de Pedro Sanjo" class="participant-photo">
      Pedro Sanjo
    </div>
    <div class="participant-item">
      <img src="/img/perfil.webp" alt="Foto de Nicola Tesla" class="participant-photo">
      Nicola Tesla
    </div>
    <div class="participant-item">
      <img src="/img/perfil.webp" alt="Foto de Elon Mosca" class="participant-photo">
      Elon Mosca
    </div>
    <div class="participant-item">
      <img src="/img/perfil.webp" alt="Foto de Magalí García" class="participant-photo">
      Magalí García
    </div>
  </div>
    </div>

    <!-- Mapa -->
    <div class="plan-map">
      <img src="/img/perfil.webp" alt="Mapa del lugar" class="map-image">
    </div>
  </div>


  <!-- Botón para comenzar plan -->
  <div class="start-plan-button-container">
    <button class="start-plan-button">Comenzar plan</button>
  </div>
</section>
