
<section class= "dash">
<div class="containerDash">
  <h2 class = "h2Dash">Detalles del plan</h2>
  
  <h3 class = "h3Dash">Participantes invitados:</h3>
  <div class="participants">
    <!-- Participante 1 -->
    <div class="participant">
      <img src="/img/perfil.webp" alt="Foto de Pedro Sanjo">
      Pedro Sanjo
      <span class="status status-confirmed"></span>
    </div>
    <!-- Participante 2 -->
    <div class="participant">
      <img src="/img/perfil.webp" alt="Foto de Nicola Tesla">
      Nicola Tesla
      <span class="status status-confirmed"></span>
    </div>
    <!-- Participante 3 -->
    <div class="participant">
      <img src="/img/perfil.webp" alt="Foto de Magalí García">
      Magalí García
      <span class="status status-confirmed"></span>
    </div>
    <!-- Participante 4 -->
    <div class="participant">
      <img src="/img/perfil.webp" alt="Foto de Santiago Boro">
      Santiago Boro
      <span class="status status-pending"></span>
    </div>
    <!-- Participante 5 -->
    <div class="participant">
      <img src="/img/perfil.webp" alt="Foto de Elon Mosca">
      Elon Mosca
      <span class="status status-confirmed"></span>
    </div>
    <!-- Participante 6 -->
    <div class="participant">
      <img src="/img/perfil.webp" alt="Foto de Bill Gates">
      Bill Gates
      <span class="status status-pending"></span>
    </div>
  </div>
  
  <h2 class= "h2Dash">Preferencias:</h2>
  <div class="preferences">
    <!-- Preferencia 1 -->
    <div class="preference">
      <img src="/img/empanadas.png" alt="Icono de Empanadas">
      Empanadas
    </div>
  </div>

  <div class="buttonsDash">
    <button class="btnDash">Agregar participante</button>
    <button class="btnDash">Iniciar votación del lugar</button>
  </div>
</div>

</section>
