<section class= "dash">
<div class="containerDash">
  <h2 class = "h2Dash">Detalles del plan</h2>
  
  <h3 class = "h3Dash">Participantes que no votaron:</h3>
  <div class="participants">
    <!-- Participante 4 -->
    <div class="participant">
      <img src="/img/perfil.webp" alt="Foto de Santiago Boro">
      Santiago Boro
      <span class="status status-pending"></span>
    </div>
    <!-- Participante 6 -->
    <div class="participant">
      <img src="/img/perfil.webp" alt="Foto de Bill Gates">
      Bill Gates
      <span class="status status-pending"></span>
    </div>
  </div>
  
  <h3 class = "h3Dash">Preferencias:</h3>
  <div class="preferences">
    <!-- Preferencia 1 -->
    <div class="preference">
      <img src="/img/empanadas.png" alt="Icono de Empanadas">
      Empanadas
    </div>
  </div>

  <div class="buttonsDash">
    <a class="btnDash" href='@Url.Action("AgregarParticipantes","CrearPlan")'>Agregar participante</a>
    <a class="btnDash" href='@Url.Action("DashPlan3","Plan")'>Finalizar votación</a>
  </div>
</div>

</section>
