
<main>

 <h1 class="titulo-violeta">Pedro manolo te invito a su plan!</h1>
<section class="almacen-todo">
<div class="section-participantes-preferencias">
    <h3>Participantes invitados:</h3>
    <div class="participantes">     
        
            
                <div class="participante">
                    <img src="asd" alt="Foto de perfil" class="profile-pic">
                </div>
            
            
    
    </div>
</div>

<div class="section-participantes-preferencias">
    <h3>Preferencia:</h3>
    <div class="preferences">
        <div class="participante">
            
        </div>    
    </div>
</div>
<section>

<button class="create-button">Unirse al plan</button>
</main>

