<div class="invitacion-container">
    <h1>¡Te has unido al plan!</h1>
    
    <div class="contenido">
        
        
  
        <button class="aceptar" onclick='location.href="/Plan/DashPlan?idPlan=@ViewBag.idPlan"'>Ir al plan</button>

</div>
</div>
