@{
    ViewData["Title"] = "Home Page";
}


<main class="dashboard-plan">

<section>
<a class="boton-violeta" href='@Url.Action("AgregarParticipante","Plan")'>Agregar participante</a>
<a class="boton-violeta" href='@Url.Action("AgregarParticipante","Plan")'>Iniciar votación</a>
</section>


</main>