@{
    ViewData["Title"] = "Finalizar";
}
<main>
<div class="progress-container progreso-creado">
            <div class="step completed">1</div>
            <div class="line"></div>
            <div class="step">2</div>
            <div class="line"></div>
            <div class="step">3</div>
            <div class="line"></div>
            <div class="step">4</div>
        </div>
            <h1 class="titulo-violeta">Finalizar</h1>
<section class="almacen-todo">
<div class="section-participantes-preferencias">
    <h3>Participantes invitados:</h3>
    <div class="participantes">     
        @{
            for(int i=0;i<ViewBag.ListaParticipantes.Count;i++){
                <div class="participante">
                    <img src="@ViewBag.ListaParticipantes[i].FotoPerfil" alt="Foto de perfil" class="profile-pic">
                    <span>@ViewBag.ListaParticipantes[i].Nombre</span>
                </div>
            }
            
        }
    </div>
</div>

<div class="section-participantes-preferencias">
    <h3>Preferencia:</h3>
    <div class="preferences">
        <div class="participante">
            <span>@ViewBag.preferencia</span>
        </div>    
    </div>
</div>
<section>

<button class="create-button" onclick="startLoading()">Crear</button>

<div class="loading-bar-container">
    <div class="loading-bar"></div>
</div>
</main>

<script>
    function startLoading() {
        const loadingBar = document.querySelector(".loading-bar");
        loadingBar.style.width = "0%";
        
        setTimeout(() => {
            loadingBar.style.transition = "width 2s";
            loadingBar.style.width = "100%";
            
            loadingBar.addEventListener("transitionend", () => {
                window.location.href = '/CrearPlan/PlanCreado';
            });
        }, 500);
    }
</script>
