@{
    ViewData["Title"] = "Plan Creado";
}

<link rel="stylesheet" href="~/css/PlanCreado.css" />
<main>
<div class="progress-container progreso-creado">
            <div class="step completed">1</div>
            <div class="line"></div>
            <div class="step">2</div>
            <div class="line"></div>
            <div class="step">3</div>
            <div class="line"></div>
            <div class="step">4</div>
        </div>
            <h1 class="titulo-violeta">Plan creado</h1>

<div class="icon-container">
    <div class="check-icon">&#10004;</div>
</div>
</main>
<button class="view-plan-button" onclick="window.location.href='@Url.Action("VerPlan", "Plan")'">Ver plan</button>
