@{
    ViewData["Title"] = "Plan Creado";
}

<div class="progress-container">
    <div class="progress-step completed">1</div>
    <div class="progress-step completed">2</div>
    <div class="progress-step completed">3</div>
    <div class="progress-step completed">4</div>
</div>

<h2 class="title">Plan Creado</h2>

<div class="icon-container">
    <div class="check-icon">&#10004;</div>
</div>

<button class="view-plan-button" onclick="window.location.href='@Url.Action("VerPlan", "CrearPlanController")'>Ver plan</button>
