@{
    ViewData["Title"] = "ConfigurarPlan";
}

<main class="configurar-perfil">
    <h1>Configura tu perfil</h1>
    <form action='@Url.Action("ActualizarFotoPerfil", "Home")' method="post" enctype="multipart/form-data">
        <!-- Campo de Foto de perfil -->
        <div class="input-group">
            <input type="text" placeholder="Añade una foto de perfil" readonly id="profilePicInput" />
            <input type="file" class="file-input" id="inputGroupFile04" name="archivo" onchange="document.getElementById('profilePicInput').value = this.files[0].name" />
            <label class="btn-seleccionar" for="inputGroupFile04">Selecciona</label>
            <button type="button" class="btn-eliminar" onclick="document.getElementById('profilePicInput').value = ''; document.getElementById('inputGroupFile04').value = '';">Eliminar</button>
        </div>
        
        <!-- Campo de Nombre de usuario -->
        <div class="form-group">
            <label for="username">Nombre de usuario</label>
            <input type="text" id="username" placeholder="Ingresa tu nombre de usuario" />
        </div>

        <!-- Campo de Nombre -->
        <div class="form-group">
            <label for="name">Nombre</label>
            <input type="text" id="name" placeholder="Ingresa tu nombre" />
        </div>

        <!-- Campo de Biografía -->
        <div class="form-group">
            <label for="bio">Biografía</label>
            <textarea id="bio" placeholder="Añade una biografía"></textarea>
        </div>

        <!-- Botón de Enviar -->
        <button type="submit" class="btn-submit">Listo</button>
    </form>
</main>