

<h1 class="titulo-homehome">Detalles del Lugar</h1>

<div class="container">
        <h2 id="nombre"></h2>

        <div class="content">
        
            <div class="reviews" id="reviews">
                
            </div>

            <div class="map-section">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3283.7648622520373!2d-58.43169132341747!3d-34.610106957837075!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcca680bfa27bf%3A0xbe46c582c334f5c2!2sMenora%20House!5e0!3m2!1ses!2sar!4v1730392844380!5m2!1ses!2sar" 
                width="600" height="400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" id="iframeMapa"></iframe>
</iframe>

                <p class="txt-detallelugar" id="direccion"><b>Direccion:</b> </p>
                <p class="txt-detallelugar" id="types-lugar"><b>Tipo de lugar:</b> </p>
                <!---- <p class="txt-detallelugar"><b>Transportes para llegar:</b></p>
                <div class="transport">
                    <p class="bus red">148</p>
                    <p class="bus red">110</p>
                    <p class="bus red">160</p>
                    <p class="bus yellow">65</p>
                    <p class="subway green">B</p>
                    <p class="subway light-green">E</p>
                    <p class="subway blue">A</p>
                </div> --->
                <div class="container-boton-volver-detallelugar"><button class="boton-volver-detallelugar">Volver</button></div>
            </div>
        </div>
    </div>
    <div class="container-result">
        <div id="result" class="result"></div>
    </div>
    </div>
<script src="/js/maps.js"></script>
    <script>
    let lugar ='@ViewBag.idLugarMaps';
 // Ejecutamos la función de ejemplo después de que la API de Google Maps esté cargada
        function testPlaceDetails() {
            console.log(lugar);
            fetchPlaceDetails(lugar);
        }

        // Esperamos a que la API cargue para ejecutar la prueba
        window.onload = function () {
            testPlaceDetails(); 
        }
    </script>