
<h1 class="titulo-homehome">Explora los mejores destinos</h1>

<!--Lugares para ti-->
<div class="container my-5">
  <h2 class="my-4">Lugares Para ti</h2>
  <div id="carouselLugaresParaTi" class="carousel slide" data-bs-ride="true">
    <div class="carousel-inner">
      <!-- Primera Slide -->
      <div class="carousel-item active">
      <section class = "section-cards">
        <div class="row text-center">
            
            <div class="col-md-3">
                <div class="card">
                <img src="/img/mcdonalds.jpg" class="card-img-top" alt="Lugar 1">
                <div class="card-body">
                    <h5 class="card-title">Don Zoilo</h5>
                    <p class="card-text">Honorio Pueyrredón 1406</p>
                    <p class ="estrellas">★★★★★</p>
                    <a href="#" class="btn btn-ver-mas">Ver más</a>
                </div>
                </div>
          </div>
          <div class="col-md-3">
            <div class="card">
              <img src="/img/mcdonalds.jpg" class="card-img-top" alt="Lugar 2">
              <div class="card-body">
                <h5 class="card-title">Vickens</h5>
                <p class="card-text">Rojas 1259</p>
                <p class ="estrellas">★★★★★</p>
                <a href="#" class="btn btn-ver-mas">Ver más</a>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card">
              <img src="/img/mcdonalds.jpg" class="card-img-top" alt="Lugar 3">
              <div class="card-body">
                <h5 class="card-title">La Vicca</h5>
                <p class="card-text">Gascón 307</p>
                <p class ="estrellas">★★★★★</p>
                <a href="#" class="btn btn-ver-mas">Ver más</a>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card">
              <img src="/img/mcdonalds.jpg" class="card-img-top" alt="Lugar 4">
              <div class="card-body">
                <h5 class="card-title">McDonald's</h5>
                <p class="card-text">Av. Corrientes 3966</p>
                <p class ="estrellas">★★★★★</p>
                <a href="#" class="btn btn-ver-mas">Ver más</a>
              </div>
            </div>
          </div>
        </div>
        </section>
      </div>
      
      <!-- Segunda Slide -->
      <div class="carousel-item">
      <section class = "section-cards">
        <div class="row text-center">
          <div class="col-md-3">
            <div class="card">
              <img src="/img/mcdonalds.jpg" class="card-img-top" alt="Lugar 5">
              <div class="card-body">
                <h5 class="card-title">Nuevo Lugar 1</h5>
                <p class="card-text">Dirección Nueva 1</p>
                <p class ="estrellas">★★★★★</p>
                <a href="#" class="btn btn-ver-mas">Ver más</a>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card">
              <img src="/img/mcdonalds.jpg" class="card-img-top" alt="Lugar 6">
              <div class="card-body">
                <h5 class="card-title">Nuevo Lugar 2</h5>
                <p class="card-text">Dirección Nueva 2</p>
                <p class ="estrellas">★★★★★</p>
                <a href="#" class="btn btn-ver-mas">Ver más</a>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card">
              <img src="/img/mcdonalds.jpg" class="card-img-top" alt="Lugar 7">
              <div class="card-body">
                <h5 class="card-title">Nuevo Lugar 3</h5>
                <p class="card-text">Dirección Nueva 3</p>
                <p class ="estrellas">★★★★★</p>
                <a href="#" class="btn btn-ver-mas">Ver más</a>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card">
              <img src="/img/mcdonalds.jpg" class="card-img-top" alt="Lugar 8">
              <div class="card-body">
                <h5 class="card-title">Nuevo Lugar 4</h5>
                <p class="card-text">Dirección Nueva 4</p>
                <p class ="estrellas">★★★★★</p>
                <a href="#" class="btn btn-ver-mas">Ver más</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      </section>
    </div>

    <button class="carousel-control-prev" type="button" data-bs-target="#carouselLugaresParaTi" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselLugaresParaTi" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

<!--Lugares más visitados-->
 <h2 class="my-4">Lugares más visitados</h2>
  <div id="carouselLugaresMasVisitados" class="carousel slide" data-bs-ride="true">
    <div class="carousel-inner">
      <!-- Primera Slide del Segundo Carrusel -->
      <div class="carousel-item active">
      <section class = "section-cards">
        <div class="row text-center">
          <div class="col-md-3">
            <div class="card">
              <img src="/img/mcdonalds.jpg" class="card-img-top" alt="Lugar 1">
              <div class="card-body">
                <h5 class="card-title">Starbucks</h5>
                <p class="card-text">Tres Arroyos 206</p>
                <p class ="estrellas">★★★★★</p>
                <a href="#" class="btn btn-ver-mas">Ver más</a>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card">
              <img src="/img/mcdonalds.jpg" class="card-img-top" alt="Lugar 2">
              <div class="card-body">
                <h5 class="card-title">Dr Papa</h5>
                <p class="card-text">Yapeyu 259</p>
                <p class ="estrellas">★★★★★</p>
                <a href="#" class="btn btn-ver-mas">Ver más</a>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card">
              <img src="/img/mcdonalds.jpg" class="card-img-top" alt="Lugar 3">
              <div class="card-body">
                <h5 class="card-title">Daniel Helado</h5>
                <p class="card-text">Pringles 307</p>
                <p class ="estrellas">★★★★★</p>
                <a href="#" class="btn btn-ver-mas">Ver más</a>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card">
              <img src="/img/mcdonalds.jpg" class="card-img-top" alt="Lugar 4">
              <div class="card-body">
                <h5 class="card-title">Club Milanesa</h5>
                <p class="card-text">Av. San Martín 4077</p>
                <p class ="estrellas">★★★★★</p>
                <a href="#" class="btn btn-ver-mas">Ver más</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Segunda Slide del Segundo Carrusel -->
      <div class="carousel-item">
      <section class = "section-cards">
        <div class="row text-center">
          <div class="col-md-3">
            <div class="card">
              <img src="/img/mcdonalds.jpg" class="card-img-top" alt="Lugar 5">
              <div class="card-body">
                <h5 class="card-title">Nuevo Lugar 1</h5>
                <p class="card-text">Dirección Nueva 1</p>
                <p class ="estrellas">★★★★★</p>
                <a href="#" class="btn btn-ver-mas">Ver más</a>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card">
              <img src="/img/mcdonalds.jpg" class="card-img-top" alt="Lugar 6">
              <div class="card-body">
                <h5 class="card-title">Nuevo Lugar 2</h5>
                <p class="card-text">Dirección Nueva 2</p>
                <p class ="estrellas">★★★★★</p>
                <a href="#" class="btn btn-ver-mas">Ver más</a>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card">
              <img src="/img/mcdonalds.jpg" class="card-img-top" alt="Lugar 7">
              <div class="card-body">
                <h5 class="card-title">Nuevo Lugar 3</h5>
                <p class="card-text">Dirección Nueva 3</p>
                <p class ="estrellas">★★★★★</p>
                <a href="#" class="btn btn-ver-mas">Ver más</a>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card">
              <img src="/img/mcdonalds.jpg" class="card-img-top" alt="Lugar 8">
              <div class="card-body">
                <h5 class="card-title">Nuevo Lugar 4</h5>
                <p class="card-text">Dirección Nueva 4</p>
                <p class ="estrellas">★★★★★</p>
                <a href="#" class="btn btn-ver-mas">Ver más</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselLugaresMasVisitados" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselLugaresMasVisitados" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
    </section>
  </div>
</div>
