@{
    ViewData["Title"] = "Home Page";
}




<main class="pagina-index">
    <section class="arriba-index">
        <div>
            <h1>Better life, Your style</h1>
            <p>Organiza tus actividades de manera sencilla y efectiva. Con nuestra app, podrás crear, gestionar y compartir planes de forma rápida y colaborativa. ¡Comienza hoy y lleva tu planificación al siguiente nivel!</p>
            <a href="#">Empezar</a>
        </div>
        <img src="/img/Facetime2.svg">
    </section>
    <section class="cards-index"> 
        <div class="contenedor-cards">
            <div class="card">
                <img src="/img/Facetime2.svg">
                <h2>Seguridad</h2>
                <p>En Juntify, la seguridad es fundamental. Utilizamos medidas para proteger la información de nuestros usuarios, garantizando un entorno confiable y seguro.</p>
            </div>
            <div class="card">
                <img src="/img/Facetime2.svg">
                <h2>Seguridad</h2>
                <p>En Juntify, la seguridad es fundamental. Utilizamos medidas para proteger la información de nuestros usuarios, garantizando un entorno confiable y seguro.</p>
            </div>
            <div class="card">
                <img src="/img/Facetime2.svg">
                <h2>Seguridad</h2>
                <p>En Juntify, la seguridad es fundamental. Utilizamos medidas para proteger la información de nuestros usuarios, garantizando un entorno confiable y seguro.</p>
            </div>
        </div>
    </section>

    <section class="abajo-index">
    <div>
        <p>¡Tu compañero perfecto para una planificación sin esfuerzo! Con Juntify, transformar tus ideas en planes concretos nunca ha sido tan fácil. Diseña agendas, organiza eventos, y coordina proyectos de manera intuitiva y colaborativa.</p>
        <img src="/img/Facetime2.svg">
    </div>
    <div class="reversa">
        <p>¡Tu compañero perfecto para una planificación sin esfuerzo! Con Juntify, transformar tus ideas en planes concretos nunca ha sido tan fácil. Diseña agendas, organiza eventos, y coordina proyectos de manera intuitiva y colaborativa.</p>
        <img src="/img/Facetime2.svg">
    </div>
    </section>
</main>