@{
    ViewData["Title"] = "Home Page";
}

<main class="pagina-index">
    <section class="arriba-index">
        <div>
            <h1 class= "titulo-index"> Better life, Your style</h1>
            <p>Organiza tus actividades de manera sencilla y efectiva. Con nuestra app, podrás crear, gestionar y compartir planes de forma rápida y colaborativa. ¡Comienza hoy y lleva tu planificación al siguiente nivel!</p>
            <a href='@Url.Action("Register", "Home")'>Empezar</a>
        </div>
        <img src="/img/imghome1.png">
    </section>
    <section class="cards-index"> 
        <div class="contenedor-cards">
            <div class="card">
                <img src="/img/imghome2.png">
                <h2 class="h2-indexx">Seguridad</h2>
                <p>En Juntify, la seguridad es fundamental. Utilizamos medidas para proteger la información de nuestros usuarios, garantizando un entorno confiable y seguro.</p>
            </div>
            <div class="card">
                <img src="/img/imghome3.png">
                <h2 class="h2-indexx">Organización</h2>
                <p>La organización es esencial en Juntify. Nuestra plataforma facilita la planificación eficiente de eventos, asegurando que todos estén informados y comprometidos.</p>
            </div>
            <div class="card">
                <img src="/img/imghome4.png">
                <h2 class="h2-indexx">Confianza</h2>
                <p>Fomentamos la independencia en Juntify, empoderando a los usuarios para gestionar sus propios planes de manera autónoma y personalizada, sin complicaciones.</p>
            </div>
        </div>
    </section>

    <section class="abajo-index">
    <div>
        <p>¡Tu compañero perfecto para una planificación sin esfuerzo! Con Juntify, transformar tus ideas en planes concretos nunca ha sido tan fácil. Diseña agendas, organiza eventos, y coordina proyectos de manera intuitiva y colaborativa.</p>
        <img src="/img/imghome5.png">
    </div>
    <div class="reversa">
        <p>¡Tu compañero perfecto para una planificación sin esfuerzo! Con Juntify, transformar tus ideas en planes concretos nunca ha sido tan fácil. Diseña agendas, organiza eventos, y coordina proyectos de manera intuitiva y colaborativa.</p>
        <img src="/img/imghome6.png">
    </div>
    </section>
</main>