@{
    ViewData["Title"] = "Prueba Maps";
}


   <script type="module" src="https://unpkg.com/@@googlemaps/extended-component-library@@0.6"></script> 

    <style>
        html, body {
            height: 100%;
            margin: 0;
            padding: 0;
        }
        .place-picker-container {
            padding: 20px;
        }
        gmp-map {
            width: 100%;
            height: 100%;
        }
    </style>
    <h1>dejamos esto de ejemplo por si lo queremos usar</h1>
    
    <gmpx-api-loader key="AIzaSyC2Sp2t0k8EtGxiJDpcwDmYc_UzML9QIek" solution-channel="GMP_GE_mapsandplacesautocomplete_v1"></gmpx-api-loader>


    <gmp-map id="mapa" center="-34.6099906,-58.4291423" zoom="15" map-id="mapa">
        <div slot="control-block-start-inline-start" class="place-picker-container">
            <gmpx-place-picker placeholder="Enter an address"></gmpx-place-picker>
        </div>
        <gmp-advanced-marker></gmp-advanced-marker>
    </gmp-map>


    <gmpx-place-overview place="ChIJc3ppC2jKvJURyQ3P9zmN-rY"></gmpx-place-overview>



<!----- https://maps.googleapis.com/maps/api/place/findplacefromtext/json?input=ort%20almagro&inputtype=textquery&key=AIzaSyC2Sp2t0k8EtGxiJDpcwDmYc_UzML9QIek --->
    <script src="/js/mapa.js"></script>
