@{
    ViewData["Title"] = "Home Page";
}




<main class="pagina-register-login">
    <section class="card-formulario">
        <div class="texto-register">
            <h1>Hora de registrarse!</h1>
            <p>Crea tu cuenta en minutos y empieza a organizar tus planes de manera eficiente. Regístrate ahora para acceder a todas nuestras funciones y llevar tu planificación al siguiente nivel.</p>
        </div>
        <div class="register-form">
            <h1>Registrarse gratis</h1>
            <form action='@Url.Action("RegistrarUsuario", "Home")' method="post">
                <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingInput" autocomplete="off" placeholder="" name="nombre" required>
                <label for="floatingInput">Nombre</label>
                </div>
                <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingInput" autocomplete="off" placeholder="" name="nick" required>
                <label for="floatingInput">Nick/Apodo</label>
                </div>
                <div class="form-floating mb-3">
                <input type="email" class="form-control" id="floatingInput" autocomplete="off" placeholder="" name="correo" required>
                <label for="floatingInput">Correo electrónico</label>
                </div>
                <div class="form-floating mb-3">
                <input type="password" class="form-control" id="floatingInput" autocomplete="off" placeholder="" name="contra" required>
                <label for="floatingInput">Contraseña</label>
                </div>
                <div class="form-floating mb-3">
                <input type="password" class="form-control" id="floatingInput" autocomplete="off" placeholder="" name="confirmaContra" required>
                <label for="floatingInput">Repetir contraseña</label>
                </div>
                @Html.Raw(ViewBag.error)
                <button type="submit" class="login-boton boton-azul">Registrarse</button>
            </form>
        </div>

    </section>
</main>