@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "font-awesome-sprockets";
@import "font-awesome";


html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}


body {
  margin-bottom: 60px;
}

*{
  margin: 0px;
  padding: 0px;
  font-family: "Poppins", sans-serif;
}
main{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pagina-index .arriba-index{
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pagina-index .arriba-index div{
  width: 40%;
}
.pagina-index .arriba-index div a{
  padding: 2%;
  border-radius: 999px;
  border: 2px solid #7A02ED;
  text-decoration: none;
  color: #7A02ED;
  transition: background-color 0.2s ease-in;
  transition: color 0.2s ease-in;
}
.pagina-index .arriba-index div a:hover{
  background-color: #7A02ED;
  color: white;
}
.pagina-index .arriba-index img{
  width: 35%;
}


.pagina-index .cards-index .contenedor-cards{
  width: 60%;
  display: flex;
  justify-content: space-between;
}

.pagina-index .cards-index .contenedor-cards .card{
  width: 28%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 1%;
  border-radius: 10px;
  background-color: #E0D2EE;
}

.pagina-index .cards-index .contenedor-cards .card img{
  width: 50%;
}
.pagina-index .cards-index .contenedor-cards .card p{
  text-align: center;
}


.pagina-index .abajo-index{
  width: 60%;
}
.pagina-index .abajo-index div{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.reversa{
  flex-direction: row-reverse;
}
.pagina-index .abajo-index div img{
  width: 30%;
}
.pagina-index .abajo-index div p{
  width: 40%;
}
.cards-index {
  position: relative;
  height: 50vh;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.cards-index::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background-color: #7300E6; /* Color púrpura */
  clip-path: polygon(0 30%, 100% 0%, 100% 100%, 0% 100%);
}

/*HEADER*/
header{
  display: flex;
  justify-content: center;
  margin-top: 1%;
}
header .header-div{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 60%;
}
header img{
  width: 10%;
}
header nav{
  width: 40%;
  display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}
header nav ul{
  display: flex;
  justify-content: space-between;
  list-style: none;
}
header nav ul li a{
  text-decoration: none;
  color: black;
  font-size: 1vw;
}

header .boton-header{
  padding: 1.2%;
  border-radius: 999px;
  background-color: #7A02ED;
  border: 2px solid white;
  text-decoration: none;
  color: white;
  transition: background-color 0.2s ease-in;
}
header .boton-header:hover{
  background-color: #a851ff;
  transition: background-color 0.2s ease-in;
  color: #ffffff;
}

.boton-azul{
  background-color: #7A02ED;
  transition: all 0.1s ease-in;
  border-radius: 10px;  
  border: none;
  color: white;
  width: 100%;
  padding: 2%;
}
.boton-azul:hover{
  background-color: #5f00b8;
}

.boton-blanco{
  margin-top:1.3%;
  background-color: #E0D2EE;
  transition: all 0.1s ease-in;
  border-radius: 10px;
  border: none;
  color: #7A02ED;
  width: 100%;
  padding: 2%;
}
.boton-bl:hover{
  background-color: #cfcfcf;
}

.pagina-register-login .card-formulario, .pagina-register-login .card-formulario-inicio-sesion{
  width: 100%;
  display: flex;
  margin-top:1.3%;
  flex-direction: row;
  justify-content: center;
  background-image: url("/img/registerfoto.jpeg");
  background-repeat: no-repeat;
  background-size: cover;

}
.inicio-sesion-register {
  text-align: center; 
  margin: 20px; 
}
.inicio-sesion-register p {
  display: inline; 
  margin: 0; 
}
.underline{
  text-decoration: underline;
}

.pagina-register-login .card-formulario .texto-register{
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 7%;
}
.pagina-register-login .card-formulario .register-form{
  width: 30%;
  margin-right: 15%;
  margin-top:4%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 3%;
  border-radius: 10px;
  background-color: #E0D2EE;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4); 
  margin-bottom:2%;
}
.pagina-register-login .card-formulario .register-form h1{
  margin-bottom:5%;
}
.pagina-register-login .card-formulario .register-form form{
  width: 100%;
}
.pagina-register-login .card-formulario .register-form input{
  width: 100%;
}
.titulo-index{
  font-weight: 700;
  color:#7A02ED;
}


.main{
  width: 70%;
}
.progress-container {
  display: flex;
  align-items: center; 
  margin: 20px;
}

.step {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #e0e0e0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  position: relative;
}

.step.completed {
  background-color: #7A02ED;
  color: white;
}

.line {
  height: 4px;
  background-color: #e0e0e0;
  flex: 1; 
  margin: 0 10px; 
}

.line.completed {
  background-color: #7A02ED;
}

.elegir-tipo-plan .opcion-plan{
  width: 30%;
  border-radius: 15px;
  background-color: #E0D2EE;
  box-shadow: 0px 0px 15px 1px #9d9d9d;
  transition: all 0.1s ease-in;
} 
.elegir-tipo-plan .botones-tipo-plan{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 6%;
}
.elegir-tipo-plan .opcion-plan a{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-decoration: none;
  color: black;
  padding-top: 1%;
  padding-bottom: 1%;
}
.elegir-tipo-plan .opcion-plan:hover{
  box-shadow: 0px 0px 15px 4px #9d9d9d;
}

.register-form-inicio-sesion{
  width: 30%;
  margin-top:4%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 3%;
  border-radius: 10px;
  background-color: #E0D2EE;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4); 
  margin-bottom:2%;
  
}

.titulo-violeta{
  color: #7A02ED;
  width: 100%;
  text-align: center;
  font-weight: 600;
}

.tags-input {
  border: 1px solid #333;
  display: inline-block;
}

.tags-input .tag {
  font-size: 85%;
  padding: 0.5em 0.75em;
  margin: 0.25em 0.1em;
  display: inline-block;
  background-color: #ddd;
  transition: all 0.1s linear;
  cursor: pointer;
  border-radius: 9999px;
}

.tags-input .tag:hover {
  background-color: #7A02ED;
  color: white;
}

.tags-input .tag .close::after {
  content: '×';
  font-weight: bold;
  display: inline-block;
  transform: scale(1.4);
  margin-left: 0.75em;
}

.tags-input .tag .close:hover::after {
  color: red;
}

.tags-input .main-input {
  border: 0;
  outline: 0;
  padding: 0.5em 0.1em;
}

mark{
  padding: 0 !important;
}

.progress-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.progress-step {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: lightgray;
  color: white;
  text-align: center;
  line-height: 30px;
  font-weight: bold;
  margin: 0 10px;
}

.completed {
  background-color: #a5a4f8;
}

.current {
  background-color: #ae3cf0;
}

.title {
  text-align: center;
  font-size: 24px;
  color: #ae3cf0;
}

.section-participantes-preferencias {
  width:60%;
  display:flex;
  flex-direction:column;
  margin: 20px 0;
}

.participantes {
  display: flex;
  gap: 10px;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: stretch;
  justify-content: flex-start;
}

.participante {
  width:20%;
  display: flex;
  align-items: center;
  background-color: #e2d7fc;
  padding: 10px 15px;
  border-radius: 8px;
  color: #333;
  text-align: center;
  gap: 10px;
}
.participante span{
display:flex;
justify-content: center;}
.profile-pic {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.preferences {
  display: flex;
  justify-content: flex-start;
  margin-top: 10px;
}

.preference {
  background-color: #e2d7fc;
  padding: 10px 20px;
  border-radius: 8px;
  color: #333;
  text-align: center;
}

.create-button {
  display: block;
  margin: 20px auto;
  padding: 10px 25px;
  background-color: #ae3cf0;
  color: white;
  font-size: 18px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.create-button:hover {
  background-color: #932cc2;
}

.loading-bar-container {
  width: 700px;
  height: 15px;
  background-color: #e0e0e0;
  border-radius: 10px;
  overflow: hidden;
  margin: 30px auto;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.loading-bar {
  height: 100%;
  width: 0;
  background: linear-gradient(90deg, #ae3cf0, #6e29a5);
  border-radius: 10px;
}
.almacen-todo{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}





.icon-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.check-icon {
  font-size: 50px;
  color: #4CAF50;
  background-color: #e6f4ea;
  border-radius: 50%;
  padding: 15px;
}

.view-plan-button {
  display: block;
  margin: 30px auto;
  padding: 10px 25px;
  background-color: #ae3cf0;
  color: white;
  font-size: 18px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.view-plan-button:hover {
  background-color: #932cc2;
}
/*Homehome*/
.carousel-control-prev, .carousel-control-next {
  width: 5%;
}

.card {
  border-radius: 10px;
  overflow: hidden;
}


.card-body {
  background-color: #e6ccff;
  text-align: center;
}

.btn-ver-mas {
  background-color: #a34cd2;
  color: white;
  font-weight: bold;
  border: none;
}

.section-cards {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-items: center;
  width: 90%;
  margin: 0 auto;
  padding: 20px 0;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
  border-radius: 50%; 
  padding: 10px; 
  color: #333;
}
.carousel-control-prev-icon {background-image: url('/img/flechaizq.svg') !important;}
.carousel-control-next-icon {background-image: url('/img/flechaderecha.svg') !important;}


.carousel-control-prev-icon::before,
.carousel-control-next-icon::before {
  color: #258cfb; 
  font-size: 1.5rem; 
}



.tag-input {
  border: 1px solid #ccc;
  padding: 10px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.tag-input ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}

.tag-input li {
  font-size: 85%;
  padding: 0.5em 0.75em;
  margin: 0.25em 0.1em;
  display: inline-block;
  background-color: #ddd;
  transition: all 0.1s linear;
  cursor: pointer;
  border-radius: 9999px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.tag-input li:hover{
  background-color: #7A02ED;
  color: white;
}

.tag-input li .remove-tag {
  margin-left: 10px;
  cursor: pointer;
  color: white;
  font-weight:200;
}

#tag-input {
  border: none;
  padding: 5px;
}

.suggestions {
  border: 1px solid #ccc;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background: white;
  z-index: 1;
}

.suggestion-item {
  padding: 5px;
  cursor: pointer;
}

.suggestion-item:hover {
  background-color: #f0f0f0;
}

.boton-violeta{
  padding-left: 1%;
  padding-right: 1%;
  padding-top: 0.5%;
  padding-bottom: 0.5%;
  width: 30%;
  text-align: center;
  font-size: 1vw;
  background-color: #7A02ED;
  text-decoration: none;
  border-radius: 10px;
  transition: all 0.1s ease-in;
  color: white
}
.boton-violeta:hover{
  background-color: #6400c2;
  color: white;
}


.titulo-homehome{
  text-align: center;
  color:#7A02ED;
  font-weight: 700;
  margin-top: 2%;
}

.my-4{
  font-weight: 600;
}

